# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Java
bin

# Maven
target/

# Mac crap
.DS_Store

# misc
.project
.classpath
.settings
*.class
dependency-reduced-pom.xml
META-INF/application.xml

git.sh
copy.sh
do.sh
